FRONTEND_URL=FRONTEND_URL
NODE_ENV=development
PORT=7575

DB_HOST=localhost
DB_PORT=5432
DB_USER=database_user_name
DB_PASS=database_password
DB_DIALECT=postgres
DB_NAME_TEST=test_database_name
DB_NAME_DEVELOPMENT=development_database_name
DB_NAME_PRODUCTION=production_database_name

EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_USERNAME=EMAIL_USERNAME
EMAIL_PASSWORD=EMAIL_PASSWORD
EMAIL_FROM=EMAIL_FROM
EMAIL_PREVIEWMODE=false

TWILIO_ACCOUNT_SID=AC_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN

AWS_REGION=AWS_REGION
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_ACCESS_KEY_SECRET=AWS_ACCESS_KEY_SECRET
